@import "vars/vars.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#topo{
    height: 5vh;
    width: auto;
    text-align: center;
}

#middle{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opcoes{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opcoes{
    button{
        background-color: transparent;
        border: $bordas;
        padding: 10px;
}
}

.escolhas{
    margin: 15px;
    border-radius: 5px;
}

#casas_jogo{
    display: flex;
    justify-content: center;
}

#casas_jogo {
    div{
    font-size: $tamanho_fontes;
    width: $tamanho_quadrados;
    height: $tamanho_quadrados;
    display: grid;
    place-content: center;
    border: $bordas;
}
}

#letras_usadas{
    font-size: $tamanho_fontes;
    display: flex;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 80%;
    top: 30%;

    h1{
        font-weight: 100;
        font-size: 30px;
    }
}

.casas_do_jogo{
    width: $tamanho_quadrados;
    height: $tamanho_quadrados;
    border: $bordas;
}

#area_teclado{
    display: flex;
    justify-content: center;
}

#area_teclado{
    div{
        font-size: $tamanho_fontes;
        width: $tamanho_quadrados;
        height: $tamanho_quadrados;
        display: grid;
        place-content: center;
        border: $bordas;
} 
}

#separar{
    height: 10vh;
}